[submodule "codegen/botocore"]
	path = codegen/botocore
	url = https://github.com/boto/botocore.git
[submodule "servicegen/botocore"]
	path = servicegen/botocore
	url = git@github.com:boto/botocore.git
